body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #000;
}

/* =========Link as Button========== */
#link div{
    margin-top: 50px;
}
.button {
    position: relative;
}
.btn {
    text-decoration: none;
    visibility: visible;
    background-color: #f9004d;
    padding: 20px 40px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    border: 3px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    transition: all o.5s;
    box-shadow: 0 10px 20px rgba(250, 250, 250, 0.5), 5px 0 15px rgba(250, 250, 250, 0.5);
}
.btn:hover {
    background-color: #000;
    border: 2px solid #f9004d;
    cursor: pointer;
}

/* =========Button=========== */
button {
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 40px;
    transition: transform 0.5s;
    font-size: 20px;
}
button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
    transform: scale(1.2);
}
/* ======Pagination========= */
.page {
    display: inline-block;
}
.page a {
    text-decoration: none;
    color: #fff;
    padding: 10px 16px;
    transition: all 0.5s;
}
.page a.active{
    background-color: #0cf361;
    border-radius: 50%;
}
.page a.arrow {
    border: 2px ridge #ddd;
    background-color: #f9004d ;
}
.page a.arrow:hover {
    background-color: transparent;
    border: 2px solid #f9004d ;
}
.page a:hover:not(.active,.arrow){
    background-color: #f9004d;
    font-weight: bold;
    border-radius: 50%;
}